<!DOCTYPE html>
<html lang="{$language}" dir="ltr">
<head>
    <title>{ifset #title}{include title|striptags} | {/ifset}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    {ifset $locale}
        <meta property="og:locale" content="{$locale}">
    {/ifset}
    <link rel="canonical" href={link //this} />

    {block head}{/block}
</head>
<body>

    {include content}

    {block scripts}{/block}
</body>
</html>
