services:
	moduleManager:
		setup:
			- addModule(Crm\StripeModule\StripeModule())

	stripeSetupIntentApiHandler: Crm\StripeModule\Api\SetupIntentHandler
	stripeCreateSubscriptionCheckoutSessionApiHandler: Crm\StripeModule\Api\CreateSubscriptionCheckoutSessionApiHandler
	stripeWebhookApiHandler: Crm\StripeModule\Api\WebhookApiHandler
	- Crm\StripeModule\Hermes\InvoicePaidWebhookHandler
	- Crm\StripeModule\Hermes\CheckoutSessionCompletedWebhookHandler
	- Crm\StripeModule\DataProviders\SalesFunnelTwigVariablesDataProvider
	- Crm\StripeModule\DataProviders\StripeBillingDataProvider
	- Crm\StripeModule\Seeders\ConfigsSeeder
	- Crm\StripeModule\Seeders\PaymentGatewaysSeeder
	- Crm\StripeModule\Seeders\SalesFunnelsSeeder
	- Crm\StripeModule\Gateways\Stripe
	- Crm\StripeModule\Gateways\StripeRecurrent
	- Crm\StripeModule\Gateways\StripeWallet
	- Crm\StripeModule\Gateways\StripeBillingRecurrent
	- Crm\StripeModule\Models\StripeWalletClient
	- Crm\StripeModule\Models\StripeService
	- Crm\StripeModule\Repositories\StripeCheckoutSessionsRepository

	paymentCompleteRedirect:
		setup:
			- registerRedirectResolver(Crm\StripeModule\Models\RedirectResolver(), 800)

	gatewayFactory:
		setup:
			- registerGateway(stripe, Crm\StripeModule\Gateways\Stripe)
			- registerGateway(stripe_recurrent, Crm\StripeModule\Gateways\StripeRecurrent)
			- registerGateway(stripe_wallet, Crm\StripeModule\Gateways\StripeWallet)
			- registerGateway(stripe_billing_recurrent, Crm\StripeModule\Gateways\StripeBillingRecurrent)
