<!DOCTYPE html>
<html lang="{$language}" dir="ltr">
<head>
    <title>{ifset #title}{include title|striptags} | {/ifset}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    {ifset $locale}
        <meta property="og:locale" content="{$locale}">
    {/ifset}
    <link rel="canonical" href={link //this} />

    <script src="https://js.stripe.com/clover/stripe.js"></script>
</head>
<body>

<div class="wrapper">
    <section id="checkout">

    </section>
</div>

</body>
</html>

<script>
    const stripe = Stripe({$stripePublishableKey});

    initialize();

    // Fetch Checkout Session and retrieve the client secret
    async function initialize() {
        const fetchClientSecret = async () => {
            const response = await fetch("/api/v1/stripe/create-checkout-session", {
                method: "POST",
                body: JSON.stringify({
                    access_token: {$accessToken},
                    subscription_type_code: {$subscriptionType->code},
                    payment_id: {$payment->id},
                })
            });
            const { client_secret: clientSecret } = await response.json();
            return clientSecret;
        };

        const checkout = await stripe.initEmbeddedCheckout({ fetchClientSecret });
        checkout.mount('#checkout');
    }
</script>