config:
	publishable:
		name: "Stripe publishable key"
		description: 'Verejný kľúč dostupný na <a href="https://dashboard.stripe.com/test/apikeys">Stripe Dashboard</a> (napr. pk_test_asdfASDFasdf1234ASDF1234asdf0000DD)'
	secret:
		name: "Stripe secret key"
		description: 'Privátny kľúč dostupný na <a href="https://dashboard.stripe.com/test/apikeys">Stripe Dashboard</a> (napr. sk_test_asdfASDFasdf1234ASDF1234asdf0000DD)'
	display_name:
		name: "Stripe názov obchodníka"
		description: "Názov služby v platobnom okne pri platbe z peňaženky"

frontend:
	default:
		title: "Tu môžete dokončiť Vašu platbu"
		intro: "Prosím pre pokračovanie stlačte nasledujúce tlačidlo"
		loading: "Inicializujem platobnú branu. Počkajte sekundu."
		error: "Chyba. Vaša platba nebola spracovaná. Skúste to prosím znova."
		previous_payment_failed: "Vaša predchádzajúca platba nebola úspešná. Prosím, skúste to znova."
