config:
    publishable:
        name: "Stripe publishable key"
        description: 'Verejný kľúč dostupný na <a href="https://dashboard.stripe.com/test/apikeys">Stripe Dashboard</a> (napr. pk_test_asdfASDFasdf1234ASDF1234asdf0000DD)'
    secret:
        name: "Stripe secret key"
        description: 'Privátny kľúč dostupný na <a href="https://dashboard.stripe.com/test/apikeys">Stripe Dashboard</a> (napr. sk_test_asdfASDFasdf1234ASDF1234asdf0000DD)'
